<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<security:http>
		<security:intercept-url pattern="/"
			access="permitAll" />
		<security:intercept-url pattern="/resources/**"
			access="permitAll" />
		<security:intercept-url pattern="/admin/**"
			access="hasAuthority('Admin')" />
		<security:intercept-url pattern="/customer/**"
			access="hasAuthority('Customer')" />
		<security:intercept-url pattern="/member/**"
			access="hasAnyAuthority('Admin','Member')" />
		<security:logout />
		<security:form-login />

	</security:http>


	<bean id="PasswordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></bean>
	<security:authentication-manager>
		<security:authentication-provider >
		
			<security:password-encoder
				ref="PasswordEncoder" />
			<security:user-service>
				<security:user name="admin@gmail.com"
					authorities="Admin"
					password="$2a$10$Semk4UWMC4lZfGvcFzHQAOAzzL.jiENKC2uo7.GDXeXUG46VW8dJ." />

			</security:user-service>
		</security:authentication-provider>
		<security:authentication-provider>
		
				<security:password-encoder	ref="PasswordEncoder" />

			<security:jdbc-user-service
				data-source-ref="dataSource"

				users-by-username-query="select email username,password,true from member where email=?"
				authorities-by-username-query="select email username,role from member where email=?" />


		</security:authentication-provider>
		<security:authentication-provider 
			user-service-ref="customerDetailService" >
			
		
					<security:password-encoder ref="PasswordEncoder" />
					
		</security:authentication-provider>

	</security:authentication-manager>
	


</beans>
